# API URL (backend)
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# JWT Secret (shared with backend)
BETTER_AUTH_SECRET=bJqZvVgVfyBzBB7Yul1TSXj4XpI7LCN1

# Better Auth Configuration
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000/api/auth

# Environment
NODE_ENV=development
